./lib/ruby-lint/**/*.rb ./lib/ruby-lint.rb
-m markdown
-M redcarpet
-o ./doc/build
-r ./README.md
--private
--protected
--asset ./doc/css/common.css:css/common.css
--exclude lib/ruby-lint/definitions/core
--verbose
-
./doc/*.md
LICENSE
